body {
    background-image: url("images/background.jpg");
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}
img {
    border-radius: 5px;
}